@model Library


<h2>OnlineLibrary</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Isbn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.ListOfBooks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => book.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => book.Isbn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = book.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = book.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = book.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <a asp-controller="Loan" asp-action="LoanBook" >Loan Book</a>
</div>