@model List<Book>
<h1>Index</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Isbn</th>
                <th>Book Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Isbn</td>
                    <td>@book.Quantity</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = book.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = book.Id }) |
                        @Html.ActionLink("Create", "Create", new { id = book.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
